* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: 'Raleway', sans-serif;
    font-weight: 300;*/
    outline: 1px solid red;
}

/*##################
    Tags
##################*/

header, footer {
  margin: 1em auto 1em auto;
  padding: 0.5em;
  clear: both;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

p {
  margin-top: 0.25em;
}

section {
  height: auto;
  margin: auto;
}

article {
  border: 2px solid red;
  min-height: 7em;
}

figcaption {
  font-size: 1.5em;
  text-align: left;
  line-height: 1.25em;
}

p span, figcaption span{
  font-style: oblique;
}

figcaption span {
  font-size: 0.75em;
}

/*#########################
    Content Section Classes
    Excludes img classes
#########################*/

.grid {
    margin: 1em auto 0;
    max-width: 1200px;
    width: 100
    justify-content: center;
}

.row {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
}

/*########################
    Image tags and classes
########################*/

img {
  max-width: 300px;
  width: 40%;
  height: auto;
  float: left;
  margin-right: 0.5em;
  clear: both;
}

.lead-img {
  max-width: 450px;
  width: 100%;
  height auto;
}

.body-img {
  margin-top: 0.5em;
}
